@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu-Regular";
}

:root {
  --extra-large-text: 1.5rem;
  --large-text: 1.1rem;
  --medium-text: 1rem;
  --small-text: 0.6rem;
  --normal-text: 1rem;

  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 24%, 87%);
  height: 100vh;
  overflow: auto;
  min-height: 800px;
}

.main-container {
  width: 60%;
  height: 70%;
  border-radius: 15px;
  display: flex;
  background-color: white;
}

.navigation-container {
  width: 30%;
  padding: 25px 10px 25px 25px;
}

.navigation {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.form-container {
  width: 70%;
  padding: 25px 25px 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-wrapper {
  padding: 30px;
  height: 100%;
}

.top-heading {
  font-size: var(--large-text);
}

.subheading {
  font-size: var(--medium-text);
  color: var(--cool-gray);
  margin-top: 2%;
}

.personal-details-container,
.plan-wrapper,
.add-ons-wrapper,
.finishing-up-wrapper {
  margin-top: 10%;
}

.input {
  width: 100%;
  border: 1px solid hsl(229, 24%, 87%);
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  appearance: none;
}

.input-heading {
  display: flex;
  justify-content: space-between;
}

.input-field-error {
  display: flex;
  align-self: flex-end;
  color: hsl(354, 84%, 57%);
  visibility: hidden;
}

.input-container {
  margin-top: 5%;
  font-size: var(--normal-text);
}

footer {
  display: flex;
  width: 100%;
  padding-right: 30px;
  justify-content: space-between;
  font-size: var(--normal-text);
}

.button {
  width: 25%;
  height: 50px;
  background-color: hsl(228, 45%, 44%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#back-button {
  visibility: hidden;
  background-color: white;
  font-family: "Ubuntu-Medium";
  color: var(--cool-gray);
}

.navigator {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.navigation-items {
  padding: 25px;
  cursor: pointer;
}

.number {
  width: 14%;
  height: 33px;
  border-radius: 25px;
  display: flex;
  border: 1px white solid;
  color: white;
  justify-content: center;
  align-items: center;
}

.info-navigation {
  margin-left: 25px;
}

.step {
  font-size: var(--small-text);
  color: white;
  margin-bottom: 5px;
}

.step-name {
  color: white;
  font-family: "Ubuntu-Bold";
  font-size: var(--medium-text);
}

.plan-container {
  display: flex;
  padding: 5% 0%;
  justify-content: space-between;
}

.plan {
  border-radius: 15px;
  width: 30%;
  padding: 2%;
  border: 1.5px solid var(--light-gray);
  cursor: pointer;
}

.plan:hover {
  border: 1.5px solid var(--marine-blue);
  background-color: var(--magnolia);
}

.plan-icon-container {
  margin-top: 5%;
}

.plan-icon {
  width: 40px;
}

.plan-text {
  margin-top: 60%;
}

.plan-type {
  display: flex;
  justify-content: center;
  padding: 3% 0%;
  background-color: var(--magnolia);
  border-radius: 10px;
}

.plan-name {
  font-size: var(--normal-text);
}

.money-text {
  color: var(--cool-gray);
  font-size: var(--normal-text);
  margin-top: 5%;
}

.free-plan {
  display: none;
  font-size: var(--normal-text);
  margin-top: 5%;
}

#month-text {
  margin-right: 5%;
  font-size: var(--normal-text);
}

#year-text {
  margin-left: 5%;
  color: var(--cool-gray);
  font-size: var(--normal-text);
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: black;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background-color: black;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.display-none {
  display: none;
}

.add-ons {
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 15px;
  padding: 3%;
  margin: 3% 0%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.add-ons:hover {
  border: 1px solid var(--marine-blue);
}

.add-ons-holder {
  display: flex;
}

.price {
  color: var(--marine-blue);
  font-size: var(--normal-text);
}

.check {
  width: 25px;
  margin-right: 5%;
  cursor: pointer;
}

.add-ons-details {
  margin-left: 5%;
}

.add-ons-name {
  font-family: "Ubuntu-Medium";
  margin-bottom: 3%;
  font-size: var(--normal-text);
}

.add-ons-description {
  color: var(--cool-gray);
  font-size: var(--medium-text);
  margin-top: 3%;
}

#finishing-up-wrapper {
  margin-top: 10%;
}

.finalized-plans-addons {
  background-color: var(--magnolia);
  border-radius: 15px;
  padding: 3%;
}

.selected-plan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

#finalized-plan-name {
  margin-bottom: 5%;
}

hr {
  color: var(--light-gray);
  box-shadow: none;
}

#selected-addons {
  margin-top: 5%;
}

.finalized-add-on {
  display: flex;
  margin-bottom: 2%;

  justify-content: space-between;
}

.add-on-name {
  color: var(--cool-gray);
}

.add-on-price {
  margin-bottom: 2%;
}
.total-cost-container {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.total-cost {
  color: var(--purplish-blue);
  font-size: var(--extra-large-text);
  font-family: "Ubuntu-Medium";
}

.total-cost-label {
  color: var(--cool-gray);
}

#thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.thank-you-wrapper {
  height: 100%;
}

.thank-you-text,
.thank-you-message {
  margin-top: 5%;
  text-align: center;
}

.thank-you-text {
  font-family: "Ubuntu-Bold";
  font-size: var(--extra-large-text);
}

.thank-you-message {
  color: var(--cool-gray);
}

@media screen and (max-width: 780px) {
  :root {
    --large-text: 0.9rem;
    --medium-text: 0.7rem;
    --small-text: 0.5rem;
    --normal-text: 0.6rem;
  }

  .main-container {
    width: 80%;
    height: 50%;
  }

  .navigation-container {
    padding: 15px 10px 15px 15px;
    width: 35%;
  }

  .form-container {
    padding: 15px 15px 15px 10px;
    width: 65%;
  }

  .input-wrapper {
    padding: 10px;
  }

  .input {
    height: 40px;
  }

  footer {
    padding-right: 10px;
  }

  .number {
    height: 25px;
  }

  .info-navigation {
    margin-left: 15px;
  }

  .next {
    height: 40px;
  }

  .plan-text {
    margin-top: 30%;
  }

  .plan-icon {
    width: 25px;
  }

  .toggle {
    --width: 30px;
  }

  .toggle__fill::after {
    height: 10px;
    width: 10px;
  }

  .button {
    height: 30px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --large-text: 0.9rem;
    --medium-text: 1rem;
    --small-text: 0.7rem;
    --normal-text: 1rem;
  }

  body{
    background-color: white;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }

  .navigation-items {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .navigation {
    border-radius: 0px;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
  }

  .navigator {
    width: 10%;
    height: 30%;
    margin: 10px;
  }

  .info-navigation {
    display: none;
  }

  .navigation-container {
    width: 100%;
    height: 30vh;
    padding: 0px;
  }

  .form-container {
    width: 100%;
    background-color: hsl(217, 100%, 97%);
    padding: 0px;
    height: 70vh;
  }

  .input-wrapper {
    background-color: white;
    border-radius: 15px;
    margin: -20% 5% 25% 5%;
    padding: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  footer {
    background-color: white;
    padding: 0px;
    width: 100%;
    padding: 10px;
  }

  .number {
    width: 100%;
  }

  .next {
    margin: 20px;
  }

  body {
    display: block;
    height: 100%;
  }

  .plan-container {
    flex-direction: column;
  }

  .plan {
    display: flex;
    width: 100%;
    margin: 2% 0%;
  }
  .plan-text {
    margin: 2%;
  }

  .plan-icon-container {
    margin: 2%;
  }

  .plan-icon {
    width: 35px;
  }

  .toggle {
    --width: 40px;
  }

  .toggle__fill::after {
    height: 15px;
    width: 15px;
  }

  .button {
    height: 50px;
  }
}
